/001/nbproject/private/
/001/build/
/100 Exercises/002/nbproject/private/
/100 Exercises/002/build/
/100 Exercises/003/nbproject/private/
/100 Exercises/003/build/
/100 Exercises/004/nbproject/private/
/100 Exercises/004/build/
/100 Exercises/005/nbproject/private/
/100 Exercises/006/nbproject/private/
/100 Exercises/007/nbproject/private/
/100 Exercises/008/nbproject/private/
/100 Exercises/008/build/
/100 Exercises/009/nbproject/private/
/100 Exercises/009/build/
/100 Exercises/010/nbproject/private/
/100 Exercises/010/build/
/100 Exercises/011/nbproject/private/
/100 Exercises/011/build/
/100 Exercises/012/nbproject/private/
/100 Exercises/012/build/
/100 Exercises/013/nbproject/private/
/100 Exercises/013/build/
/100 Exercises/014/nbproject/private/
/100 Exercises/014/build/
/100 Exercises/015/nbproject/private/
/100 Exercises/015/build/
/100 Exercises/016/nbproject/private/
/100 Exercises/016/build/
/100 Exercises/017/nbproject/private/
/100 Exercises/017/build/
